@font-face{
  font-family: "Gilroy";
  src:url("../Fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: "Gilroy";
  src:url("../Fonts/Gilroy-light.otf");
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  line-height: 2;
  /* letter-spacing: 0.15px; */
  color: #464646;
}
img {
  max-width: 100%;
  height: auto;
}
a { text-decoration: none }

html { box-sizing: border-box }
*, *::before, *::after { box-sizing: inherit }


/*сокрытие элементов которые должны быть видны для роботов и читалок*/
.visually-hidden:not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.center-container{
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.yellow-button
{
  text-decoration: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 15px;
  line-height: 23.5px;
  /* letter-spacing: 3.7px; */
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  background-color: rgba(240,197,46,0.5);
}

body{
  padding-top: 40px;
}

header{
    padding: 0;
    margin: 0;
    padding: 0 61px 42px 60px;
    margin-bottom: -80px;
    /* border: 1px solid transparent; */
    font: inherit;
    color: #000000;
    /* background-color: rgba(240,197,46,0.5); */
    background-color: rgb(255, 226, 151)
}

header a{
  /* text-decoration: none; */
  /* display: block; */
  font: inherit;
  color: #000000;

  background-color: transparent;
}

header a:hover,
header a:focus{
  opacity: 0.6;
}

header a:active{
  opacity: 0.3;
}

.main-header-logo{
  margin: 0;
  padding:  0;
  display: inline-block;
  vertical-align: top;
  font: inherit;
  font-size: 0;
  background-color: transparent;
  margin-top: -20px;
}

.main-header-user-interface{
  margin: 0;
  padding:  0;
  display: flex;
  justify-content: space-between;
}

.main-header-user-interface ul{
  margin: 0;
  padding:  0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.main-header-search button{
  visibility: hidden;
}

.main-header-search button:hover,
.main-header-search button:focus{
  visibility: visible;
  background-color: #000000;
  color: #ffffff;main-production-img
}

.main-header-search button:active{
  visibility: visible;
  background-color: #000000;
  color: rgba(255,255,255, 0.3);
}

.main-header-search input{
  outline: none;
  background-color: transparent;
  border: none;
}

.main-header-search input:focus{
  border-bottom: 2px solid black;
}

.main-header-search input:focus ~ button{
  visibility: visible;
  display: inline-block;
}

.main-header-search button{
  font: inherit;
  background-color: transparent;
  border: 2px solid black;
  box-shadow: none;
}

.main-header-search input::-webkit-input-placeholder{
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: 0.15px;
  color: black;
  opacity: 0.3;
  /* color: rgba(70, 70, 70, 0.4); */
}
.main-header-search input:-moz-placeholder{
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: 0.15px;
  color: black;
  opacity: 0.3;
  /* color: rgba(70, 70, 70, 0.4); */
}
.main-header-search input::placeholder{
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: 0.15px;
  color: black;
  opacity: 0.3;
   /* color: rgba(70, 70, 70, 0.4); */
}

.main-header-search input:hover::-webkit-input-placeholder{
  opacity: 0.6;
}

.main-header-search input:hover:-moz-placeholder{
  opacity: 0.6;
}

.main-header-search input:hover::placeholder{
  opacity: 0.6;
}

.main-header-search input:focus::-webkit-input-placeholder{
  opacity: 1;
}

.main-header-search input:focus:-moz-placeholder{
  opacity: 1;
}

.main-header-search input:focus::placeholder{
  opacity: 1  ;
}

.goods-list{
  position: relative;

}

.test{
  position: absolute;
  width: 500px;
  height: 200px;
  background-color: rgb(255, 226, 151);
  /* opacity: 0.5; */
  top: 50px;
}

.main-header-nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-header-nav-first-level>a{
  text-decoration: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 1.33;
  /* letter-spacing: 3.6px; */
  color: #000000;

  background-color: transparent;;
}

.promotion-slider article{
  display: none;
}

.promotion-slider-card.actived{
  display: flex;
}

.promotion-slider button{
  font-size: 0;
  background-color: transparent;;
  /* border: 1px solid black; */
  border: 1px solid black;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}


.promotion-slider button.actived::before{

  content: "";
  display: inline-block;
  padding: 1px;
  border: 1px solid black;
  border-radius: 50%;

  background-color: transparent;;
}

.promotion-slider-tagline{
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 47.5px;
  line-height: 1.18;
  /* letter-spacing: 0.48px; */
  color: #000000;

  background-color: transparent;;
}

.promotion-slider-table th{
  font-family: inherit;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
  line-height: 1.54;
  /* letter-spacing: 0.13px; */
  color: #464646;
}

.promotion-slider-table td{
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 36px;
  line-height: 1.33;
  /* letter-spacing: 0.36px; */
  color: #000000;
}

.main-production ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-production a{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 160px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 1.33;
  /* letter-spacing: 0.18px; */
  color: #000000;
}

.main-production a:active{
  color: rgba(0, 0, 0, 0.3);
}

.main-production-img{
    width: 160px;
    height: 160px;
    background-color: rgba(240,197,46,0.5);
    background-repeat: no-repeat;
    background-position: center;
}

.main-production-card:hover .main-production-img,
.main-production-card:focus .main-production-img,
.main-production-card:active .main-production-img{
    background-color: #f0c52e;
}

.virtual{
  background-image: url("../img/virtual.svg");
}

.monopod{
  background-image: url("../img/monopod.svg");
  background-position: center bottom;
}

.camera{
  background-image: url("../img/camera.svg");
}

.fit{
  background-image: url("../img/fit.svg");
}

.watch{
  background-image: url("../img/watch.svg");
}

.quatrocopter{
  background-image: url("../img/quatrocopter.svg");
}

.our-advantages{
  font: inherit;
  background-color: #e5e5e5;
}

.our-advantages ul{
  list-style: none;
}

.our-advantages h3{
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 47.5px;
  line-height: 1;
  /* letter-spacing: 0.48px; */
  color: #000000;
}

.additional-information h2{
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 47.5px;
  line-height: 1;
  /* letter-spacing: 0.48px; */
  color: #000000;
}

.about-us ul{
  list-style: none;
}

.about-us li{
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: 2.5;
  /* letter-spacing: 0.48px; */
  color: #000000;
}

.our-partners img{
  opacity: 0.3;
}

.our-partners img:hover {
  opacity: 1;
}

footer{
  color: #ffffff;
  background-color: #464646;
}

footer a{
  text-decoration: none;
  color: inherit;
  background-color: transparent;;
}

footer a:hover,
footer a:focus{
  opacity: 0.6;
}

footer a:active{
  opacity: 0.3;
}

footer address{
  font: inherit;
}

.footer-nav{
  list-style: none;
}

.footer-nav a{
  text-decoration: inherit;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 17px;
  line-height: 1.33;
  letter-spacing: 3.6px;
  color: inherit;
  background-color: transparent;;
}

.social-buttons{
  list-style: none;
}

.social-buttons a{
  opacity: 0.3;
}

.social-buttons a:hover,
.social-buttons a:focus{
  opacity: 1;
}

.social-buttons a:active{
  opacity: 0.6;
}

.footer-user-interface a{
  opacity: 0.3;
}

.footer-user-interface a:hover,
.footer-user-interface a:focus{
  opacity: 1;
}

.footer-user-interface a:active{
  opacity: 0.6;
}

.send-question-form label{
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 17.5px;
  line-height: 1.4;
  /* letter-spacing: normal; */
  color: #000000;
  background-color: #ffffff;
}

.send-question-form input::-webkit-input-placeholder{
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 1.25;
  color: black;
  /* color: rgba(70, 70, 70, 0.4); */
}
.send-question-form input:-moz-placeholder{
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 1.25;
  color: black;
  /* color: rgba(70, 70, 70, 0.4); */
}
.send-question-form input::placeholder{
   font-family: "Open Sans", Arial, sans-serif;
   font-weight: 300;
   font-style: normal;
   font-size: 14px;
   line-height: 1.25;
   color: black;
   /* color: rgba(70, 70, 70, 0.4); */
}
